	<toast></toast>

	<script src="js/external/angular.min.js"></script>
	<script src="js/external/angular-ui-router.min.js"></script>
	<script src="js/external/angular-sanitize.min.js"></script>
	<script src="js/external/angular-messages.min.js"></script>
	<script src="js/external/angular-resource.min.js"></script>
	<script src="js/external/angular-ui-router-title.js"></script>
	<script src="js/external/ngToast.min.js"></script>
	<script src="js/external/ui-bootstrap-tpls-0.13.4.min.js"></script>
	<script src="js/external/ng-tags-input.min.js"></script>
	<script src="js/external/async.min.js"></script>
	<script src="js/modules/angular.ui.router.fromState.js"></script>
	<script src="js/modules/util.js"></script>
	<script src="js/main.js"></script>
	<script src="js/config.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/services.js"></script>
	<script src="js/filters.js"></script>
</body>
</html>