<!DOCTYPE html>
<html lang="en" ng-app="signals" ng-controller="rootCtrl">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/ngToast.min.css">

	<link rel="stylesheet" href="css/marketing.css">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="stylesheet" href="css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<base href="/">

</head>
<body>
	<a name="home"></a>
	<div class="header">
	    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="">Your Site</a>

	        <ul class="pure-menu-list">
	            <li class="pure-menu-item"><a href="#home" class="pure-menu-link">Home</a></li>
	            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
	            <li class="pure-menu-item"><a href="#sign-in" class="pure-menu-link">Sign In</a></li>
	        </ul>
	    </div>
	</div>