<!DOCTYPE html>
<html lang="en" ng-app="signals" ng-controller="rootCtrl">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/ngToast.bootstrap.css">
	<link rel="stylesheet" href="/css/ngToast.min.css">

	<link rel="stylesheet" href="/css/marketing.css">
	<link rel="stylesheet" href="/css/bootstrap-social.css">
	<link rel="stylesheet" href="/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<base href="/">

</head>
<body>